
.main{ 
    background-color:rgb(76, 76, 212);
    
}


body {
    margin:0px;
}

/* Header */
.header{ 
    display: flex;
    justify-content: space-around;
    background-color: white;
    color:rgb(106, 243, 127);
   
}

.headerList{ 
    list-style: none;
    display: flex;
    font-size: 21px;
    padding-top: 11px;
    
}

.headerItem{
    padding-left:40px;
}


.title{
    text-align: center;
    background-image: url("anh.jpg");
    height:500px;
    background-repeat: no-repeat;
    padding-top:10px;
    
}



.title {
    color:rgb(151, 242, 165);
}

.aleftinfo {
    display: flex;
    padding-top:28px;
}

.img1{ 
    height:150px;
    width:150px;
    border-radius:6px;
}

.aleftinfo1{ 
    padding-left:20px;
    
}

.About{ 
    width:960px; 
    background-color: rgb(129, 172, 242);
    margin: 45px auto 0 auto;
    color:rgb(234, 244, 236);
    display:flex;
    
    border-radius: 3px;
}

.aboutLeft{ 
    padding:40px 0 40px 40px;
}

.aboutRight{ 
    padding:40px 40px 40px 15px;
}



.Services{
    width:960px;
    margin:0 auto;
    text-align: center;
    padding-top: 100px;
}

.Services1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon{
    width:56px;
    height:64px;
    border-color:rgb(219, 199, 202);
    border-radius: 50%;
    border-width: 6px;
    border-style:solid;
    
    
}

.Services2{
    background-color: rgb(129, 172, 242);
    width:289px;
    border-radius: 10%;
    color: rgb(234, 244, 236);
    padding-bottom: 30px;
    padding-top:15px;
    margin-bottom:30px;
}

.statistic{
    display: flex;
    background-image:url(nen2.jpg);
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.stItem{
    width:60px;
    height:60px;
}




/* Work */
.work{
    color: rgb(234, 244, 236);
    padding-top:100px;
    text-align: center;
    width:960px; 
    margin:0 auto;
}

.workImage{
    width:290px;
    height:181.5px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}

.work1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.workItem{
    background-color: rgb(129, 172, 242);
    margin-bottom:15px;
    margin-top:15px;
    border-radius:10%;
}

.workEndimg{
    width:150px;
    height:150px;
    border-radius:50%;
    padding-top: 20px;

}

.workEnd{
    margin:0 auto;
    background-image: url(nen4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin-top:30px;
    padding-bottom:45px;
}

.workEndp{
    margin-bottom: 0px;
}

.wTitle{
    text-decoration:dashed;
    text-decoration-color: rgb(144, 201, 252);
    text-decoration-line: underline;   
    text-transform: uppercase;
    color: rgb(234, 244, 236);
   
 }

 /* Blog */
 .bImg{
    width:289px;
    height:192px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
 }

 .blog1{
    display: flex;
    justify-content: space-evenly;
    margin-top:70px;
 }

 .blog2{
    background-color: rgb(129, 172, 242);
    border-radius: 5px

 } 

 .blog{
    color: rgb(234, 244, 236);
    margin-top:60px;
    text-align: center;
    padding-bottom: 10rem;
 }

 .bTitle{
    font-size: 3rem; 
    margin-bottom:0px;
 }


 
 /* Contact */
 .contact{
    background-image: url(anh.jpg);
    padding-top: 135px;
    padding-bottom:135px;
 }

 .contactInfo{
    width:960px;
    margin: 0 auto ;
    display:flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color:#93c3c2;
    color:#296a9c;
   

 }

 .contactMes{
    width:420px;
 }

 .contactTouch{
    width:360px;
 }

 .contactType{
    width: inherit;
    margin-bottom: 23px;
    padding: 10px;
    border-radius:3px; 
    border:1px solid #cdaf94;
     background-color:#e9b886;
 }

 .contactPlace{
    display:flex;
    margin-bottom:15px;

 }

.contactIcon{
    margin-right:20px;
    color:#293a55;
}


.contactP{
   margin-top: 0px;
   margin-bottom:0px;
  
}

.cIcon{
    margin-top: 30px;
}

.contactButton{
    padding:15px 50px;
    border-radius: 26px;
    border:1px solid #cdaf94;
    margin-top: 23px;
    background-color:#e9b886;
    color:#2b5c5c;
}

.cTouchp{
    font-size:   19px;
}
